<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-10 offset-1">
    <div class="card text-center mt-3 title">
      <div class="card-body">
        <h2 class="card-title"><%=showBlog.title%></h2>
        <p class="card-text"><%=showBlog.created_date%></p>
        <p class="card-text">Author</p>
        <a class="btn btn-dark" href="/blogs/<%= showBlog._id %>/edit"
          >Edit this blog</a
        >
      </div>
    </div>

    <div class="card mb-3 show">
      <img
        class="show-image"
        src="<%=showBlog.image%>"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body show-description">
        <p class="card-text"><%=showBlog.description%></p>

        <p class="card-text">
          <small class="text-body-secondary"
            >Last updated <%=showBlog.updated%> ago</small
          >
        </p>
      </div>
      <form action="/blogs/<%= showBlog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-dark">Delete this blog</button>
      </form>
    </div>
  </div>
</div>
